*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	--game-image-size: 120px;
}

body {
  background-color: #eaeaea;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 1em;
}

main {
	max-width: 862px;
	margin: 0 auto;
}
